@font-face {
    font-family: 'Advokat Modern Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Advokat Modern Regular'), url('/fonts/Advokat\ Modern.woff') format('woff');
    }