@import "reset.css";
@import "__vars.css";
@import "fonts.css";


/* начало шапки*/
.content__header{
  min-height: 130px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 4px 7px 0px rgba(130, 130, 130, 0.25);
}

.logo{
  padding-top: 20px;
  text-align: center;

  font-family: 'Advokat Modern Regular';
  font-size: 30px;
}

.nav {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.nav__item {
  display: flex;
  gap: 90px;
}

.link__text{
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.header{
  background-image: url(../img/header/backgraund01.png); /*адоптировать фотографию по маштабу*/
  background-color: var(--black);
  background-repeat: no-repeat;

  min-height: 950px;
}
.title__header{
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 17%;

  flex-direction: column;
}

.title_header{
  width: 750px;
  
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
  line-height: 118.75%;
  letter-spacing: 2.88px;
}
.title__name{
  color: var(--white);
  padding-top: 15px;
  font-family: "Advokat Modern";
  font-size: 96px;
  font-weight: 400;
}

/* конец шапки */


/* начало блока с информацией*/

.static {
  background-color: var(--gray);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
}
.static__title {
  padding: 90px 0 72px;
}
.static__list {
  display: flex;
  justify-content: space-between;

}
.static__item {
  text-align: center;
  padding-bottom: 90px;
}
.item__img {
}
.item__text {
  padding-top: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 118.75%;
  letter-spacing: 0.96px;
}
.item__figure {
  font-size: 40px;
  font-weight: 700;
  line-height: 118.75%;
  letter-spacing: 2.4px;
}


/* конец блока с информацией*/


/* Начало блока с фотографиями*/

  /* Разместите контейнер изображения (необходимо разместить стрелки влево и вправо) */
  .container {
    position: relative;
  }

  /* Скрыть изображения по умолчанию */
  .mySlides {
    padding-top: 90px;
    display: none;
  }
  .mySlides__img{
    display: block;
    margin: 0 auto;
    height: 650px;
    width: 1100px;
    
  }

  /* Добавить указатель при наведении курсора на миниатюры изображений */
  .cursor {
    cursor: pointer;
  }

  /* Next & prev кнопки */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--black);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Разместите кнопку "next" справа */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* При наведении добавьте черный цвет фона с небольшой прозрачностью */
  .prev:hover,
  .next:hover {
    transition: all 0.5s ease-in;
    background-color: rgba(160, 160, 160, 0.2);
  }


  /* Контейнер для текста изображения */
.caption-container {
    text-align: center;
    padding: 12px 16px 30px;
    color: var(--black);
    font-weight: 500;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
    padding-bottom: 90px;
  }

  /* Шесть столбцов друг возле друга */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Добавить эффект прозрачности для миниатюрных изображений */
  .demo {
    opacity: 0.6;
    width: 210px;
    height: 140px;
    border-radius: 10px;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }


/*Конец блока с фотографиями*/